ENVIRONMENT=development
PORT=5000

ALLOWED_CORS_ORIGINS="http://localhost:3000"

# SUPABASE AUTH JWT SECRET
AUTH_JWT_SECRET="JWT_SECRET_HERE"

# NORDIGEN CONFIGURATION
NORDIGEN_SECRET_ID=""
NORDIGEN_SECRET_KEY=""

#  RESEND CONFIGURATION
RESEND_API_KEY=""
EMAIL_FROM=""

#  APITALLY CONFIGURATION (optional) 
APITALLY_ENABLED=false
APITALLY_CLIENT_ID=""
APITALLY_ENV=""