ENVIRONMENT=development
PORT=5000

ALLOWED_CORS_ORIGINS="http://localhost:3000"
DATABASE_USERNAME="guallet"
DATABASE_PASSWORD="guallet_password"
DATABASE_NAME="guallet"


AUTH_JWT_SECRET="2a0d1358885fe88a39ed38b37442626ab77183db1f6d2823a84e31064debbc8a"

# NORDIGEN CONFIGURATION
NORDIGEN_SECRET_ID=""
NORDIGEN_SECRET_KEY=""

#  RESEND CONFIGURATION
RESEND_API_KEY=""
EMAIL_FROM=""

#  APITALLY CONFIGURATION (optional) 
APITALLY_ENABLED=false
APITALLY_CLIENT_ID=""
APITALLY_ENV=""