# DB CONFIGURATION
POSTGRES_USER="guallet"
POSTGRES_PASSWORD="enter your database password here"
POSTGRES_DB="guallet"

# REQUIRED FOR THE API
DATABASE_USERNAME="guallet"
DATABASE_PASSWORD="enter your database password here"
DATABASE_NAME="guallet" // This is the same as POSTGRES_DB variable

# REDIS CONFIGURATION
REDIS_PASSWORD="enter your redis password here"
REDISCLI_AUTH="guallet_redis_password"

# PG ADMIN CONFIGURATION
PGADMIN_DEFAULT_EMAIL="admin@guallet.io"
PGADMIN_DEFAULT_PASSWORD="admin"