# GUALLET SERVER
VITE_API_URL="http://localhost:5000"

# SUPABASE CONFIGURATION
VITE_SUPABASE_URL="enter_your_supabase_url_here"
VITE_SUPABASE_KEY="enter_your_supabase_key_here"

# SENTRY CONFIGURATION
VITE_SENTRY_ENABLED=false
VITE_SENTRY_DSN="enter_your_sentry_dsn_here"