# Replace this values with your own

# GUALLET API URL
EXPO_PUBLIC_API_URL=""

# GOOGLE SIGNING
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=""
EXPO_PUBLIC_GOOGLE_IOS_URL_SCHEME="com.googleusercontent.apps._some_id_here_"

# SENTRY
EXPO_PUBLIC_SENTRY_DSN=""

# VEXO ANALYTICS
EXPO_PUBLIC_VEXO_KEY=""
