ENVIRONMENT=development
PORT=5000

# CORS (Coma-separated list of allowed origins)
ALLOWED_CORS_ORIGINS="http://localhost:3000,http://localhost:5000"

# DATABASE
DATABASE_HOST="<...>"
DATABASE_PORT=<...>
DATABASE_USERNAME="<...>"
DATABASE_PASSWORD="<...>"
DATABASE_NAME="<...>"

# REDIS
REDIS_HOST="<...>"
REDIS_PORT=<...>
REDIS_PASSWORD="<...>"

# BETTER AUTH
BETTER_AUTH_SECRET="run `openssl rand -base64 32` to generate a secure random secret"
BETTER_AUTH_BASE_URL="http://localhost:5000"
GOOGLE_CLIENT_ID="<...>"
GOOGLE_CLIENT_SECRET="<...>"

# NORDIGEN
NORDIGEN_SECRET_ID="<...>"
NORDIGEN_SECRET_KEY="<...>"

# EMAIL (SMTP) 
SMTP_HOST="<...>"
SMTP_PORT=465
SMTP_USER="<...>"
SMTP_PASS="<...>"
SMTP_SECURE=true # If true, the connection uses TLS immediately upon connecting. Set this to true when connecting to port 465. For port 587 or 25, leave this as false and let STARTTLS upgrade the connection.
EMAIL_FROM="Guallet <no-reply@(yourdomain)>" 

# APITALLY
APITALLY_ENABLED=<true|false>
APITALLY_CLIENT_ID="<...>"
APITALLY_ENV=<dev|prod>
